@import "tailwindcss";

html, body, #__nuxt {
  height: 100%;
  margin: 0;
}

.student-layout, .teacher-layout, .default-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.body {
  display: flex;
  flex: 1;       /* take all remaining vertical space */
}

.main-content {
  flex: 1;       /* grow to fill available space */
}